<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.fragments/head::head"></head>

<body>
<header th:replace="template.fragments/header::header"></header>
<main>
  <div class="container" >
    <div class="row mt-5" >
      <div class="col">
        <div class="table-responsive">
          <table class="table table-hover table-bordered bg-light">
            <thead>
            <tr class="table-dark">
              <th>Name</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="publisher : ${publishers}">
              <td th:text="${publisher.name}"></td>
              <td><a class="btn btn-warning" th:href="@{/publishers/publisher-form/__${publisher.id}__}">Update</a></td>
              <td>
                <form  th:action="@{/publishers/delete/__${publisher.id}__}" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:replace="template.fragments/footer::footer"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html></html>